---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.romit.io/v1/banking/card/2c10eeb3-4f7e-4922-8cb6-14b5786905db
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 7eabf1fb-6cb1-405b-a756-89ede6107f6e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"error":null,"response":{"id":"2c10eeb3-4f7e-4922-8cb6-14b5786905db","name":"A
        B","number":"4242","expiration":"10/20","type":"VISA","status":"UNVERIFIED","created":1461847182000}}'
  recorded_at: Thu, 09 Jun 2016 11:27:26 GMT
recorded_with: VCR 3.0.3
