---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.romit.io/v1/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"***REMOVED***","client_secret":"***REMOVED***","grant_type":"authorization_code","code":"791e48ad-c43e-4410-883b-5c903a92d7ca","redirect_uri":"http://d68cd05f.ngrok.io/romit/finish"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"error":null,"response":{"access_token":"816ede48-0429-403c-9fe2-41242f78e2d1","access_token_expires":"2016-06-10T11:44:27Z","refresh_token":"22244e57-e456-47f1-a19a-9e1ed2af35c0","refresh_token_expires":"2016-08-09T10:44:27Z","token_type":"bearer","scope":["DEFAULT","BANKING_READ","BANKING_WRITE","IDENTITY_READ","IDENTITY_WRITE","TRANSFER_READ","TRANSFER_WRITE","USER_READ","USER_WRITE"]}}'
  recorded_at: Fri, 10 Jun 2016 10:44:28 GMT
recorded_with: VCR 3.0.3
