---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.romit.io/v1/incorrect_path
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 44f74ae8-9846-4ff5-9ade-e4566b86f96f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":"err.invalid_path","locale":"en-US","message":"We
        couldn''t find that path"},"response":null}'
  recorded_at: Wed, 08 Jun 2016 12:22:54 GMT
recorded_with: VCR 3.0.3
