---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.romit.io/v1/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"***REMOVED***","client_secret":"***REMOVED***","refresh_token":"9e1fd7e5-c7b5-40bb-8663-f762359fd985","grant_type":"refresh_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"error":null,"response":{"access_token":"166532ac-474a-42d9-b8a8-f051085f4340","access_token_expires":"2016-06-09T12:34:13Z","refresh_token":"fcef4f1f-06fd-4582-83b8-3fe10f4c318c","refresh_token_expires":"2016-08-08T11:34:13Z","token_type":"bearer","scope":["DEFAULT","BANKING_READ","BANKING_WRITE","IDENTITY_READ","IDENTITY_WRITE","TRANSFER_READ","TRANSFER_WRITE","USER_READ","USER_WRITE"]}}'
  recorded_at: Thu, 09 Jun 2016 11:34:13 GMT
recorded_with: VCR 3.0.3
