---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.romit.io/v1/oauth
    body:
      encoding: UTF-8
      string: '{"client_id":"***REMOVED***","response_type":"code","redirect_uri":"https://nugg-backend-dev.herokuapp.com/api/public/romit/auth_callback","scope":["DEFAULT","BANKING_READ","BANKING_WRITE","IDENTITY_READ","IDENTITY_WRITE","TRANSFER_READ","TRANSFER_WRITE","USER_READ","USER_WRITE"],"state":"some
        state","phone":"+19492572313","email":"first.last@example.com","first":"First","last":"Last","currency":"USD","refresh":true,"call":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer be67e6fd-f282-415c-8240-0291588498de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":null,"response":{},"success":true}'
  recorded_at: Fri, 12 Aug 2016 13:56:50 GMT
recorded_with: VCR 3.0.3
