---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.romit.io/v1/transfer/refund
    body:
      encoding: UTF-8
      string: '{"id":"8d623beb-1640-4dce-b52d-807dbd02929a"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 4f050a0f-6b01-409e-8d0a-0aace2dec312
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"error":null,"response":{}}'
  recorded_at: Fri, 10 Jun 2016 14:01:19 GMT
recorded_with: VCR 3.0.3
