---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.romit.io/v1/transfer
    body:
      encoding: UTF-8
      string: '{"amount":{"currency":"USD","value":"5.99"},"bankingId":"2c10eeb3-4f7e-4922-8cb6-14b5786905db","memo":"8d05f5ae10cc","mode":"AUTH_AND_CAPTURE"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 4f050a0f-6b01-409e-8d0a-0aace2dec312
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"error":null,"response":{"id":"2cc8ec53-9f8f-43f4-afa9-cc9e80ea45cb"}}'
  recorded_at: Fri, 10 Jun 2016 13:43:38 GMT
recorded_with: VCR 3.0.3
