---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.romit.io/v1/banking
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 44f74ae8-9846-4ff5-9ade-e4566b86f96f
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":"err.application_access_token_has_expired","locale":"en","message":"The
        access token has expired.  It may be refreshed using the refresh_token."},"response":null}'
  recorded_at: Wed, 08 Jun 2016 12:17:48 GMT
recorded_with: VCR 3.0.3
